<div class="container">
    <h2>Cadastro de nova tarefa</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
            
    
        <div class="row align-items-center justify-content-center" >
            <div class="col">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" placeholder="Título da tarefa" [(ngModel)]="tarefa.titulo" name="titulo" id="titulo">
                </div>    
            </div>
        </div>
    
        <div class="row align-items-center justify-content-center">
            <div class="col">            
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" rows="3" placeholder="Descrição da tarefa" [(ngModel)]="tarefa.descricao" name="descricao" id="descricao"></textarea>
                </div>
            </div>
        </div>            
            <div >
                    <input type="submit" class="btn btn-default" value="Adicionar Tarefa">
            </div>
            
        
        
    </form>
</div>